html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 40px;
    grid-template-areas: "navbar"
                         "main"
                         "footer";
    margin: 0%;
}

#nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    border-bottom: 2px solid black;
    grid-area: navbar;
    justify-content: space-evenly;
    align-items: center;
    background-color: #135CE4;
    color: #ccdcfa;
    font-size: larger;
    font-weight: bolder;
}

/* Nav links within navbar */
.nav-item {
    display: flex;
    height: 100%;
    width: 33.333%;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    border: 2px solid #091936;
    transition: background-color 0.2s;
}

/* Make nav links cover their <li> containers, so we get cursor icon when hovering over them */
.nav-item > a { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: inherit;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: main;
    background-color: #EBF2FD;
    color: #091936;
}

/* Hide the TDEE and FFMI divs unless user clicks their nav-links*/
#tdee-div {
    display: none;
}

#ffmi-div {
    display: none;
}

#results-div {
    display: none;
}

/* The title for each calculator div*/
.header {
    display: flex;
    justify-content: center;
}

/* The description under the title */
.instruction-container {
    text-align: center;
    padding: 3;
}

/* The container for all input fields */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.gender-select, .activity-level-select {
    height: 30px;
    width: 50%;
    border-radius: 15px;
    text-align: center;
}

input {
    height: 30px;
    width: 70%;
    border-radius: 15px;
    text-align: center;
}

.submit-btn {
    height: 40px;
    width: 80px;
    border-radius: 15px;
}

#results-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

footer {
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    background-color: #091936;
    color: #6899F3;
}


/* Media Query for larger screens */

@media screen and (min-width: 1024px) {
    .nav-item:hover {
        background-color: #e7617e;
    }
}